/* ! Don't forget making all items undraggable at the end!!! */
@use './center-utilities.scss';
@use './undraggable.scss';
@use './grid-layout.scss';
@use './scrollbar.scss';
@use './button.scss';

:root {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    color: rgb(223, 223, 223);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;

    object-fit: cover;
    overflow: hidden scroll;
}

// Background zoom-in animation
body:before {
    content: '';
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    background: url("../Images/PlanetaChetos.webp") center/cover no-repeat;
    animation: BackgroundZoom 10s backwards;
}

@keyframes BackgroundZoom {
    from { transform: scale(1.2) }
    to { transform: scale(1); }
}

// Profile-Card
.profile-card {
    padding: 4rem 8rem;
    box-shadow: 0 18px 200px -60px black;
    backdrop-filter: blur(10px);

    border: 2px solid #030f2930;
    border-radius: 50px;
    
    .profile-img {
        width: 30rem;
        height: 30rem;
        border-radius: 50%;
    
        object-fit: cover;
    }
    
    h1 {
        font-size: 5rem;
        margin: 1rem;
    }
    
    .profile div {
        font-size: 3rem;
        margin: 1rem;
    }
    
    svg {
        width: 15rem;
        height: auto;
    
        padding: 2rem;
    }
    
    a {
        text-decoration: none;
        border-radius: 50px;
    }
    
    /* SVG functionality */
    .pinterest {
        background-color: rgba(150, 0, 0, 0.5);
        transition: all .3s ease-in-out;
    }
    
    .deviantart {
        background-color: rgba(0, 150, 0, 0.5);
        transition: all .3s ease-in-out;
    }
    
    .pinterest:hover {
        background-color: rgba(150, 2, 2, .69);
        transform: translateY(-5px);
    }
    
    .deviantart:hover {
        background-color: rgba(2, 150, 2, .6);
        transform: translateY(-5px);
    }
    
    .ref-img {
        width: 15rem;
        height: 15rem;
        border-radius: 35%;
        object-fit: cover;
    }
    
}

@media only screen and (max-width: 1440) {
    .profile-card {
        padding: 2rem 4rem;
        
        .profile-img {
            width: 15rem;
            height: 15rem;
        }

        h1 {
            font-size: 3rem;
            margin: .5rem;
        }
        
        .profile div {
            font-size: 1.5rem;
            margin: .5rem;
        }

        svg {
            width: 7.5rem;
            padding: 1rem;
        }

        .ref {
            gap: .4rem;
        }

        .ref-img {
            width: 7.5rem;
            height: 7.5rem;
        }

        .button-17 {
            width: 9.5rem;
            font-size: 1.3rem;
        }
    }
}