.container {
    display: flex;
}

.card {
    position: relative;
    left: 0rem;
    
    width: 20rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 20px;

    transition: all .3s ease-in-out;
}

.card:not(:first-child) {
    margin-left: -5rem;
}

.card:hover {
    transform: translateY(-2rem);
}

.card:hover ~ .card {
    left: 5rem
}

.profile-card {
    display: inline-block;
    background-image: url('../img/Card-Images/Profile-Card-May-Grace.png');
    background-size: cover;
    background-position: center;
}

.image-link {
    display: inline-block;
    background-image: url('../img/img-not-available.png');
    background-size: cover;
    background-position: center;
}