@use 'center.scss';
@use 'polaroid.scss';

:root {
    font-size: 16px;
    /* font-size: 62.5%; */
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr;

    height: 100vh;

    min-width: 100vw;
    min-height: 100vh;
}

#wrapper-1 {
    background-color: aqua;
    border: 50px;
}

#biography {
    display: grid;
    min-height: 100%;
    padding: 1em;
    grid-template-rows: 2fr 1fr 1fr;

    .profile {
        grid-row: 0/1;
        background-color: aliceblue;
        
        &-img {
            width: 315px;
            height: 315px;
            border-radius: 50%;
            object-fit: cover;
            object-position: top center;
        }

        h1 {
            font-size: 5ch;
            font-weight: bolder;
        }

        span {
            font-size: 3ch;
        }
    }

    .information {
        grid-row: 2/3;
        background-color: bisque;
    }

    .social {
        background-color: burlywood;
        justify-content: space-evenly;
    }
}

.content {
    display: grid;
    grid-template-rows: 1fr 0.1fr;

    #projects {
        display: grid;
        grid-template-rows: 1fr 1fr;

        .website {
            flex-direction: row;
            gap: 3em;
        }
    }
}