@use 'blur.scss';
@use 'center.scss';
@use 'polaroid.scss';
@use 'img-cards.scss';

:root {
    $github: #171515;

    $discord-blue: #5865F2;
    $discord-white: #F5F5F5;
    $discord-black: #050505;

    $gmai-blue: #4285F4;
    $gmai-red: #C5221F;
    $gmai-red-bright: #EA4335;
    $gmai-yellow: #FBBC04;
    $gmai-green: #34A853;
    font-size: 16px;
    /* font-size: 62.5%; */
}

body {
    background: url("../img/Background/Aurora.jpg") center no-repeat;
    // background: url("../img/Background/Mountains.jpg") center no-repeat;
    // background: url("../img/Background/Nature.jpg") center no-repeat;
    // background: url("../img/Background/Secret.jpg") center no-repeat;
    // background: url("../img/Background/Stars.webp") center no-repeat;

    color: whitesmoke;
    background-size: cover;

    display: grid;
    grid-template-columns: 1fr 2fr;

    min-width: 100vw;
    min-height: 100vh;

    overflow: hidden auto;
}

#biography {
    display: grid;
    grid-template-rows: 2fr 0.5fr 1fr;

    .profile {
        grid-row: 0/1;
        
        &-img {
            width: 315px;
            height: 315px;
            border-radius: 50%;
            object-fit: cover;
            object-position: top center;
        }

        h1 {
            font-size: 5ch;
            font-weight: bolder;
        }

        span {
            font-size: 3ch;
        }
    }

    .information {
        grid-row: 2/3;
    }

    .social {
        grid-row: 3/4;
        justify-content: space-evenly;

        .icon {
            width: 80px;
            height: 80px;
            object-fit: contain;
            filter: brightness(0) invert(1);

            transition: all .3s ease-out;
        }

        .icon:hover {
            transform: translateY(-7px);
        }
    }
}

.content {
    display: grid;
    grid-template-rows: 1fr 0.05fr;

    #projects {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        width: 100%;

        .programming, .website {
            height: 90%;
            padding: 2.9em;

            h2 {
                font-size: 4ch;
                font-weight: bold;
                margin-bottom: 0.35em;
            }
        }
    }
}